<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My project">

    <listeners>
        <listener class-name="MyListenersDemos.MyLisner"/>
    </listeners>

    <test name="module 1">
        <classes>
            <class name = "TestNGDemos.demo.ClassOne" />
            <class name = "TestNGDemos.demo.ClassTwo" />
        </classes>
    </test>

    <test name="module 2">
        <classes>
            <class name = "TestNGDemos.demo.ClassThree" />
        </classes>
    </test>

</suite>